[flake8]
# F401 actinia_stac_plugin.main.app as application imported but unused

max-line-length = 107
exclude =
    .git,
    __pycache__,
    .env,
    .eggs,
    .venv,
    env,
    venv,
    ENV,
    env.bak,
    venv.bak,
    ctypes,
    pydispatch,
    testsuite,

per-file-ignores =
    ./src/actinia_stac_plugin/wsgi.py: F401
