# Distribution / packaging
env_stac/
build/
dist/
config/actinia-stac-plugin.cfg
*.egg-info/
.installed.cfg
*.egg
.eggs/
.vscode/*
super-linter.log

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Files
actinia-stac-plugin.log