---
jobs:
  alpine-tests:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      -
        name: "Set up Docker Buildx"
        uses: docker/setup-buildx-action@v3
      -
        id: docker_build
        name: "Test actinia"
        uses: docker/build-push-action@v6
        with:
          context: "."
          file: docker/actinia-stac-tests/Dockerfile
          no-cache: true
          push: false
          tags: "actinia-core-tests:alpine"
name: "actinia-stac-plugin tests"
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main
